/* footer.css */

.r1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #2C3E50;
    padding: 2%;
    margin: 3% 0%;
    color: white;
    flex-wrap: wrap;
}

.t1 {
    color: white;
    margin: 0 2%;
}

.f1 {
    list-style-type: none;
    padding: 4% 0%;
}

.f1 a {
    color: #1abc9c;
    text-decoration: none;
}

.f1 a:hover {
    text-decoration: underline;
}

iframe {
    border-radius: 20px;
}
.mainone{
    display: flex;
    gap: 30px;
}